<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" type="image/x-icon" href="./static/Toyuye.ico">
</head>
<body>
    <div class="box">111111111</div> 
    <img src="./static/img/show1.jpg" alt="">
</body>
</html>


