<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document我我我</title>
</head>
<body>
    <%= require('common')('header/header',true) %>
    <div>11111111111111111我我我</div>
    <%= require('common')('footer/footer',true) %>
</body>
</html>